server:
  port: 8081

spring:
  application:
    name: agendamento-service

  datasource:
    url: jdbc:mysql://localhost:3307/agendamento_service_db?createDatabaseIfNotExist=true&serverTimezone=UTC
    username: root
    password: root

  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 1
    locations: classpath:db/migration

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  jackson:
    serialization:
      write-dates-as-timestamps: false
    default-property-inclusion: non_null

  rabbitmq:
    addresses: amqps://kbsudddd:1S1J2JovlgG7DQdbkelRbZbFqu5iMkcn@moose.rmq.cloudamqp.com/kbsudddd