server:
  port: 8082

spring:
  application:
    name: clinica-service

  datasource:
    url: jdbc:mysql://localhost:3308/clinica_service_db?createDatabaseIfNotExist=true&serverTimezone=UTC
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

  flyway:
    enabled: false

  rabbitmq:
    addresses: amqps://kbsudddd:1S1J2JovlgG7DQdbkelRbZbFqu5iMkcn@moose.rmq.cloudamqp.com/kbsudddd