server:
  port: 8082

spring:
  application:
    name: clinica-service

  datasource:
    url: jdbc:mysql://localhost:3308/clinica_service_db?createDatabaseIfNotExist=true&serverTimezone=UTC
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

  flyway:
    enabled: false

  rabbitmq:
    addresses: ${rabbit}
    listener:
      simple:
        retry:
          enabled: true
          initial-interval: 3000ms
          max-attempts: 3